<div>
  <table>
      <thead>
        <tr>
          <th>Regions</th>
        </tr>
      </thead>
        <tbody>
          <% @presenter.all_regions.each do |region| %>
            <tr>
              <td><%= link_to "#{region.title}", root_path(:region => region.id) %></td>
            </tr>
          <% end %>
        </tbody>
  </table>
  <br>
</div>

<div>
  <table>
      <caption>Countries</caption>
      <thead>
        <tr>
          <th>Name</th>
          <th>Region</th>
        </tr>
      </thead>
      <tbody>
        <% @presenter.show_countries(params[:region]).each do |country| %>
          <tr>
            <td><%= link_to "#{country.name}", country.name %></td>
            <td><%= country.region.title %></td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>